{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
      <h1>All apps by {{ author.nickname }}<small>Supporting text or tagline</small></h1>
    </div>
    <div class="row">
      <div class="span10">
          <h3>All apps</h3>
          {% for app in apps %}
              <div>
                <h5><a href="{{ url_for('developer.app_details', domain=app.domain) }}">{{ app.name }}</a> <small> at {{ app.domain }}.{{ current_user.nickname }}.appshit.com</small></h5>
                <p>{{ app.description or '' }}</p>
                <small>by {{ app.author.nickname }}</small>
              </div>
          {% endfor %}
      </div>
      <div class="span4">
        <h3>Secondary content</h3>
      </div>
    </div>
{% endblock %}