Flask==0.8
Flask-Bcrypt==0.4
Flask-MongoKit==0.3
Flask-SQLAlchemy==0.15
Flask-WTF==0.5.2
Jinja2==2.6
MySQL-python==1.2.3
SQLAlchemy==0.7.3
WTForms==0.6.3
Werkzeug==0.8.1
anyjson==0.3.1
mongokit==0.7.2
py-bcrypt==0.2
pymongo==2.0.1
wsgiref==0.1.2
