upstream website.proxy {
    ip_hash;
    server 127.0.0.1:9001;
}

server {
    listen      80;
    server_name coltrane.stg;

    access_log  /web/website/nginx_access.log;
    error_log   /web/website/nginx_error.log;

    # Статика у нас будет хранится в папк static в корне проекта
    location ^~ /static/ {
        alias /web/app/coltrane/website/static/;
        expires max;
    }

    location = /favicon.ico {
        rewrite (.*) /static/favicon.ico;
    }

    location = /robots.txt {
        rewrite (.*) /static/robots.txt;
    }

    location / {
        uwsgi_pass  website.proxy;
        include     uwsgi_params;
    }
}