{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
<div class="apps container">
    <div class="page-header">
        <h2>Your Apllications</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="span10">
                    <div class="app">
                        <h5><a href="{{ url_for('appstore.details', nickname=app.author.nickname, domain=app.domain) }}">{{ app.name }}</a> <small> at {{ app.domain }}.{{ app.author.nickname }}.appshit.com</small></h5>
                        <p>{{ app.description or '' }}</p>
                        <small>by {{ app.author.nickname }}</small>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}