{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
      <h1>Page name <small>Supporting text or tagline</small></h1>
    </div>
    <div class="row">
      <div class="span10">
          <a href="{{ url_for('auth.twitter_login') }}">Login with twitter</a> or <br/>
          <a href='{{ url_for('auth.facebook_login') }}'>Facebook</a>
        <h2>Main content</h2>
      </div>
      <div class="span4">
        <h3>Secondary content</h3>
      </div>
    </div>
{% endblock %}